#meusFilmes
{
    display:flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul
{
    padding: 0;
}
ul li 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    min-width: 30rem;
    margin-bottom:10px;
}

span 
{
    font-size: 2rem;
}
button
{
    margin-left:0.8rem;
}

ul li div a
{
    text-decoration: none;
    color: brown;
}