.container
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lista-filmes
{
    margin:1rem;
}
.lista-filmes article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    margin:1rem;
    padding:1rem;
    border-radius: 5px;
}
.lista-filmes article a
{
 text-decoration: none;
 color:#fff;
 background-color: brown;
 font-size:1.2rem;
 width:100%;
 text-align: center;
 padding: 0.5rem 0  0.5rem 0;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
 transition: 0,2 ease;
}
.lista-filmes article a:hover
{
  background-color: rgb(136, 31, 31);
}
.lista-filmes strong
{
 padding-bottom: 1rem;
 font-size: 1.5rem;   
}
.lista-filmes img
{
 width:40rem;  
 max-height: 20rem;  
}